@model eShopLegacyMVC.ViewModel.CatalogStatisticsViewModel
@{
    Layout = null;
}
<section class="esh-statistics">
    <h2>Catalog statistics</h2>
    <table>
        <tr>
            <td>Number of brands:</td>
            <td>@Model.NumberOfBrands</td>
        </tr>
        <tr>
            <td>Number of categories:</td>
            <td>@Model.NumberOfBrands</td>
        </tr>
        <tr>
            <td>Number of items:</td>
            <td>@Model.NumberOfItems</td>
        </tr>
    </table>
</section>